*.swp
*.pyc
*.o
*.a
build/*
dist/*
pyLingeling.egg-info/*
lingeling.py
lingeling_python_wrap.c
lingeling/makefile
lingeling/lingeling
lingeling/ilingeling
lingeling/plingeling
lingeling/treengeling
lingeling/lglcfg.h
lingeling/lglcflags.h
lingeling/lglddtrace
lingeling/lglmbt
lingeling/lgluntrace
